.banner {
  color: white;
  object-fit: cover;
  height: 700px;
  z-index: -99;
  margin-bottom: -4rem;
  /* margin-bottom: 1rem; */
}
.banner__contents {
  margin-left: 60px;
  padding-top: 300px;
  height: 190px;
}

.banner__title {
  width: 600px;
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.9rem;
  max-width: 360px;
  height: 80px;
}
.banner__buttons {
  display: flex;
}
.banner__button i {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}
.banner__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 1.4rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
  margin-top: 1rem;
  color: black;
  background-color: white;
}

.banner__button:hover {
  color: #000;
  background-color: #cccaca;
  transition: all 0.2s;
}

.banner__button:nth-child(2) {
  padding-right: 1.5rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.35);
}

.banner__button:nth-child(2):hover {
  background-color: rgba(255, 255, 255, 0.25);
  transition: all 0.2s;
}
.banner--fadeBottom {
  height: 480px !important;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

@media screen and (max-width: 786px) {
  .banner__title {
    width: 50%;
    font-size: 2rem;
  }
  .banner__contents{
    margin-left: 35px;
  }
}
